.recipe-skeleton__spinner {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  position: absolute;
  width: 100%;
}

.recipe-skeleton__title {
  height: 20px;
  margin-top: 8.5px;
  max-width: 80%;
}

@media only screen and (min-width: 816px) {
  .recipe-skeleton__title {
    height: 22px;
  }
}

@media only screen and (min-width: 1000px) {
  .recipe-skeleton__title {
    height: 25px;
    margin-top: 12px;
  }
}