.button__container {
  text-align: center;
}

p+.button__container>.button {
  margin-top: 0;
}

.button {
  align-items: center;
  background-color: var(--color-primary);
  border: 2px var(--color-primary) solid;
  border-radius: 10px;
  color: var(--color-secondary);
  cursor: pointer;
  display: inline-flex;
  height: 50px;
  font-family: var(--font-button);
  font-size: 1.44em;
  justify-content: center;
  letter-spacing: .04em;
  margin: 20px auto;
  padding: 0 30px 2px;
  text-decoration: none;
  text-transform: uppercase;
  transition: color .3s ease-out, background-color .3s ease-in;
  min-width: 300px;

  &:hover,
  &:active {
    background-color: var(--color-secondary);
    color: var(--color-primary);
  }

  &.transparent:hover {
    background-color: transparent;
  }

  &.width-auto {
    min-width: auto;
  }

  &.no-margin {
    margin: 0;
  }

  &.cancel {
    background-color: var(--color-red);
    border: 2px var(--color-red) solid;
    color: var(--color-secondary);

    &:hover,
    &:active {
      background-color: var(--color-secondary);
      color: var(--color-red);
    }
  }

  & sl-icon {
    margin-left: 10px;
  }
}

.section--inverted>.button__container>.button,
.button.inverted {
  background-color: var(--color-secondary);
  border: 2px var(--color-secondary) solid;
  color: var(--color-primary);

  &:hover,
  &:active {
    background-color: var(--color-primary);
    color: var(--color-secondary);
  }
}