:root {
  // theme colors
  --color-primary: #316622;
  --color-primary-light: #7ccc66;
  --color-secondary: #f7f6ef;
  --color-star: #F0D020;
  --color-near-black: #1c1c1c;
  // theme fonts
  --font-display: mostra-nuova, sans-serif;
  --font-heading: desire-pro, serif;
  --font-button: 'Source Sans Pro', sans-serif;
  --font-default: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: var(--color-secondary);
  font-family: var(--font-default);
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  overflow-x: hidden;
}

section,
footer {
  min-height: 100vh;
}

section {
  padding-top: 80px;
  padding-bottom: 80px;

  &>*:not(img):not(figure) {
    margin-left: 15px;
    margin-right: 15px;
  }

  &>h2,
  &>h3,
  &>h4,
  &>h5,
  &>h6,
  &>p,
  &>ul,
  &>ol {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.section--inverted {
  background-color: var(--color-primary);

  &>h2,
  &>h3,
  &>h4,
  &>h5,
  &>h6,
  &>p,
  &>ol,
  &>ul {
    color: var(--color-secondary);
  }
}

figure {
  margin: 0;
}

figure>img {
  max-width: 100%;
}

.h2 {
  color: var(--color-primary);
  font-family: var(--font-heading);
  font-size: 2.6em;
  font-weight: 400;
  letter-spacing: .04em;
  line-height: 1.2;
  text-transform: lowercase;
}

.p {
  font-size: 1.13em;
  line-height: 1.56;
}

.text-center {
  text-align: center;
}